#fab-button-container {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
}
#fab-button-container #mode-toggle-button {
    align-items: center;
    border-color: rgb(255,255,255);
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.26) 0px 2px 5px 0px;
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: 500;
    height: 56px;
    outline-color: rgb(255,255,255);
    outline-style: none;
    width: 56px;
}

#fab-button-container #mode-toggle-button.add {
    background-color: green;
}

#fab-button-container #mode-toggle-button.remove {
    background-color: red;
}

#album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.figurinha {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: gray;
    display: inline-block;
    height: 8rem;
    line-height: 8rem;
    margin: 1rem;
    text-align: center;
    width: 6rem;
}

div.figurinha.sobrando {
    margin: 0.5rem;
    border: 0.5rem solid green;
}

div.figurinha.preenchida {
    margin: 0.5rem;
    border: 0.5rem solid yellow;
}

@media only screen and (max-width: 768px) {
    div.figurinha {
        font-size: 0.7rem;
        height: 4rem;
        line-height: 4rem;
        margin: 0.75rem;
        width: 3rem;
    }

    div.figurinha.sobrando {
        margin: 0.375rem;
        border: 0.375rem solid green;
    }

    div.figurinha.preenchida {
        margin: 0.375rem;
        border: 0.375rem solid yellow;
    }
}